@using FairPlayTube.Components.Bootstrap

<EditForm Model="@UserMessageModel" OnValidSubmit="OnValidSubmit">
    <ObjectGraphDataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-group mb-3">
        <label for="Name">@Localizer[NameTextKey]</label>
        <InputText class="form-control" @bind-Value=ToApplicationUserFullName disabled="true" id="Name" />
    </div>
    <div class="form-group mb-3">
        <label for="Message">@Localizer[MessageTextKey]</label>
        <InputTextArea class="form-control" @bind-Value=UserMessageModel.Message id="Message" />
    </div>

    <button type="button" class="btn btn-secondary" @onclick="OnCancelAction">@Localizer[CancelTextKey]</button>
    <button type="submit" class="btn btn-primary">@Localizer[SendTextKey]</button>
</EditForm>