@using FairPlayTube.Components.Notifications

<h3>List</h3>


<Loading IsLoading="IsLoading"></Loading>
<VisitorTracking></VisitorTracking>

@if (this.AllUsers != null)
{
    <div class="container">
        <div class="row row-cols-3">
            @foreach (var user in this.AllUsers)
            {
                <Card Width="33.3%">
                    <CardHeader>
                        @user.Name
                        <button type="button" @onclick="@(_ => OnOpenMessageSenderModal(user))">
                            <i class="bi bi-chat-left-text-fill" />
                        </button>
                    </CardHeader>
                    <CardBody>
                        <p>
                            Videos: @user.VideosCount
                        </p>
                        <p>
                            Brands: @user.BrandsCount
                        </p>
                    </CardBody>
                </Card>
            }
        </div>
    </div>
}

@if (this.ShowMessageSenderModal)
{
    <div class="modal" tabindex="-1" role="dialog" style="display:block;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Send Message</h5>
                    <button type="button" data-bs-dismiss="modal" aria-label="Close" @onclick="OnSendMessageCancelled">
                        <i class="bi bi-x-circle-fill"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <MessageSender ToApplicationUserFullName="@SelectedUser.Name" 
                                   ToApplicationUserId="@SelectedUser.ApplicationUserId"
                                   OnSendAction="OnSendMessage"
                                   OnCancelAction="OnSendMessageCancelled"/>
                </div>
            </div>
        </div>
    </div>
}