<h1>Keywords</h1>

<Loading IsLoading="IsLoading"></Loading>

@if (this.AllKeywords != null)
{
    <div class="mb-3">
        <label class="form-label">@Localizer[SearchTextKey]</label>
        <input type="text" class="form-control" list="keywordDataList" @oninput="OnKeywordSearchChanged" />
    </div>

    <datalist id="keywordDataList">
        @foreach (var singleKwyword in this.AllKeywords)
        {
            @*<option value="@singleKwyword.Keyword">@($"{(singleKwyword.Appeareances)} videos - {singleKwyword.Keyword}")</option>*@
            <option value="@singleKwyword.Keyword">@($"{(singleKwyword.Appeareances)} {Localizer[VideoTextKey]}")</option>
        }
    </datalist>
}

<FairPlayTube.Components.Videos.VideoList AllVideos="FoundVideos"
                                          ShowAvailableJobsButton="false">
</FairPlayTube.Components.Videos.VideoList>
