<h3>Upload</h3>

<VisitorTracking></VisitorTracking>
<Loading IsLoading="IsLoading"></Loading>

<EditForm Model="@UploadVideoModel" OnValidSubmit="OnValidSubmit">
    <DataAnnotationsValidator></DataAnnotationsValidator>
    <ValidationSummary></ValidationSummary>
    <div class="mb-3">
        <label class="form-label">Name</label>
        <InputText class="form-control" @bind-Value="UploadVideoModel.Name"></InputText>
    </div>
    <div class="mb-3">
        <label class="form-label">FileUrl</label>
        <InputText class="form-control" @bind-Value="UploadVideoModel.SourceUrl"></InputText>
    </div>
    <div class="mb-3">
        <label class="form-label">Video's Language</label>
        <InputSelect class="form-control" @bind-Value="UploadVideoModel.Language">
            @foreach (var singleLanguage in AvailableLanguages)
            {
                <option value="@singleLanguage.Value">@singleLanguage.Name</option>
            }
        </InputSelect>
    </div>
    <div class="mb-3">
        <label class="form-label">Description</label>
        <InputText class="form-control" @bind-Value="UploadVideoModel.Description"></InputText>
    </div>
    <div class="mb-3">
        <label class="form-label">Price (@Common.Global.Constants.CurrencySymbols.Dollars) - (@Constants.PriceLimits.MinVideoPrice, @Constants.PriceLimits.MaxVideoPrice)</label>
        <InputNumber class="form-control" @bind-Value="UploadVideoModel.Price"
                     ParsingErrorMessage="The Price must be a valid integer number"></InputNumber>
    </div>
    <div class="mb-3">
        <label class="form-label">Visibility</label>
        <InputSelect class="form-control" @bind-Value="UploadVideoModel.VideoVisibility">
            @foreach (var singleValue in Enum.GetValues<Common.Global.Enums.VideoVisibility>())
            {
                <option value="@singleValue">@GetVisibilityName(singleValue)</option>
            }
        </InputSelect>
    </div>
    @if (!IsSubmitting)
    {
        <div class="mb-3">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    }
</EditForm>
<div class="mb-3">
    <strong>
        Note: Once uploaded, videos will be visible until they finish processing, it could take up to 10 minutes for small videos.
        The longer the video, the longer the processing time will take
    </strong>
</div>