<h3>@Localizer[UploadTextKey]</h3>

<VisitorTracking></VisitorTracking>
<Loading IsLoading="IsLoading"></Loading>

<EditForm Model="@UploadVideoModel" OnValidSubmit="OnValidSubmit">
    <DataAnnotationsValidator></DataAnnotationsValidator>
    <FairPlayTube.Client.CustomValidators.UploadVideoValidator></FairPlayTube.Client.CustomValidators.UploadVideoValidator>
    <ValidationSummary></ValidationSummary>
    <div class="mb-3">
        <label class="form-label">@Localizer[NameTextKey]</label>
        <InputText class="form-control" @bind-Value="UploadVideoModel.Name"></InputText>
    </div>
    <div class="mb-3">
        <label class="form-label">@Localizer[UseUrlTextKey]?</label>
        <InputCheckbox @bind-Value="UploadVideoModel.UseSourceUrl"  @onchange="OnFileSourceModeChanged"></InputCheckbox>
    </div>
    <div class="mb-3">
        @if (UploadVideoModel.UseSourceUrl)
        {
            <label class="form-label">@Localizer[SourceUrlTextKey]</label>
            <InputText class="form-control" @bind-Value="UploadVideoModel.SourceUrl"></InputText>
        }
        else
        {
            <FairPlayTube.Client.CustomComponents.Upload.FileUpload 
                                                                    OnFilesUploaded="OnFilesUploaded"
                                                                    ></FairPlayTube.Client.CustomComponents.Upload.FileUpload>
        }

    </div>
    <div class="mb-3">
        <label class="form-label">@Localizer[VideoLanguageTextKey]</label>
        <InputSelect class="form-control" @bind-Value="UploadVideoModel.Language">
            @foreach (var singleLanguage in AvailableLanguages)
            {
                <option value="@singleLanguage.Value">@singleLanguage.Name</option>
            }
        </InputSelect>
    </div>
    <div class="mb-3">
        <label class="form-label">@Localizer[DescriptionTextKey]</label>
        <InputTextArea class="form-control" @bind-Value="UploadVideoModel.Description" 
                       rows="4" cols="50" maxlength="500"></InputTextArea>
    </div>
    <div class="mb-3">
        <label class="form-label">@Localizer[PriceTextKey] (@Common.Global.Constants.CurrencySymbols.Dollars) - (@Constants.PriceLimits.MinVideoPrice, @Constants.PriceLimits.MaxVideoPrice)</label>
        <InputNumber class="form-control" @bind-Value="UploadVideoModel.Price"
                     ParsingErrorMessage="@Localizer[PriceParsingErrorTextKey]"></InputNumber>
    </div>
    <div class="mb-3">
        <label class="form-label">@Localizer[VisibilityTextKey]</label>
        <InputSelect class="form-control" @bind-Value="UploadVideoModel.VideoVisibility">
            @foreach (var singleValue in Enum.GetValues<Common.Global.Enums.VideoVisibility>())
            {
                <option value="@singleValue">@GetVisibilityName(singleValue)</option>
            }
        </InputSelect>
    </div>
    @if (!IsSubmitting)
    {
        <div class="mb-3">
            <button type="submit" class="btn btn-primary">@Localizer[SubmitTextKey]</button>
        </div>
    }
</EditForm>
<div class="mb-3">
    <strong>
        @Localizer[NoteTextKey]
    </strong>
</div>