<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">
        FairPlayTube<br />
        <small>Beta</small>
    </a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <PayPalDonateButton></PayPalDonateButton>
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All" data-bs-toggle="tooltip" data-bs-placement="top" title="Home">
                <i class="bi bi-house-door-fill"></i>
            </NavLink>
        </li>
        <AuthorizeView Roles="@Common.Global.Constants.Roles.User">
            <Authorized>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="@Common.Global.Constants.UserPagesRoutes.UploadVideo" data-bs-toggle="tooltip" data-bs-placement="top" title="Upload Video">
                        <i class="bi bi-cloud-upload-fill"></i>
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="@Common.Global.Constants.UserPagesRoutes.MyPendingVideosStatus" data-bs-toggle="tooltip" data-bs-placement="top" title="My Videos Queue">
                        <i class="bi bi-list-check"></i>
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="@Common.Global.Constants.UserPagesRoutes.MyVideos" data-bs-toggle="tooltip" data-bs-placement="top" title="My Videos">
                        <i class="bi bi-play-btn-fill"></i>
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="@Common.Global.Constants.RootPagesRoutes.Persons" data-bs-toggle="tooltip" data-bs-placement="top" title="Persons in videos">
                        <i class="bi bi-person-circle"></i>
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="@Common.Global.Constants.UserPagesRoutes.List" data-bs-toggle="tooltip" data-bs-placement="top" title="Users">
                        <i class="bi bi-people-fill"></i>
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="@Common.Global.Constants.UserPagesRoutes.MyFunds" data-bs-toggle="tooltip" data-bs-placement="top" title="My Funds">
                        <i class="bi bi-wallet-fill"></i>
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="@Common.Global.Constants.UserPagesRoutes.ProfileMonetization" data-bs-toggle="tooltip" data-bs-placement="top" title="Monetization Profile">
                        <i class="bi bi-cash-stack"></i>
                    </NavLink>
                </li>
            </Authorized>
        </AuthorizeView>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="@Common.Global.Constants.UserPagesRoutes.Keywords" data-bs-toggle="tooltip" data-bs-placement="top" title="Search">
                <i class="bi bi-tags-fill"></i>
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/Visits" data-bs-toggle="tooltip" data-bs-placement="top" title="Visits">
                <i class="bi bi-globe"></i>
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="https://github.com/efonsecab/FairPlayTube/" target="_blank" data-bs-toggle="tooltip" data-bs-placement="top" title="GitHub">
                <i class="bi bi-github"></i>
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="https://github.com/efonsecab/FairPlayTube/issues?q=is%3Aopen+is%3Aissue+label%3Abug" target="_blank" data-bs-toggle="tooltip" data-bs-placement="top" title="Known Issues">
                <i class="bi bi-bug-fill"></i>
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="https://www.facebook.com/Fairplaytube-106615948308091" target="_blank" data-bs-toggle="tooltip" data-bs-placement="top" title="Facebook">
                <i class="bi bi-facebook"></i>
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="https://www.youtube.com/watch?v=iUdjur6sl8g&list=PLGPt1G9l1Tyw0F7vKQYZw1JYhPAMCVQq7" target="_blank" data-bs-toggle="tooltip" data-bs-placement="top" title="Youtube">
                <i class="bi bi-youtube"></i>
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
