<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">
        FairPlayTube<br />
        <small>Beta</small>
    </a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <PayPalDonateButton></PayPalDonateButton>
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="@Common.Global.Constants.UserPagesRoutes.Keywords">
                <span class="oi oi-list" aria-hidden="true"></span> Keywords
            </NavLink>
        </li>
        <AuthorizeView Roles="@Common.Global.Constants.Roles.User">
            <Authorized>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="@Common.Global.Constants.UserPagesRoutes.MyVideos">
                        <span class="oi oi-list" aria-hidden="true"></span> My Videos
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="@Common.Global.Constants.UserPagesRoutes.UploadVideo">
                        <span class="oi oi-plus" aria-hidden="true"></span> Upload Video
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="@Common.Global.Constants.UserPagesRoutes.ProfileMonetization">
                        <span class="oi oi-plus" aria-hidden="true"></span> External Monetization
                    </NavLink>
                </li>
            </Authorized>
        </AuthorizeView>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
