@if (this.VideoModel != null)
{
    <article>
        <FairPlayTube.Components.Bootstrap.Card Width="100%">
            <CardHeader>
                <div>
                    <strong>Duration: </strong>@VideoModel.VideoDurationFormatted
                </div>
                <div>
                    <button type="button" class="btn btn-info rounded-circle"
                            @onclick="@( async () => await SelectVideo())" data-bs-toggle="tooltip" data-bs-placement="top" title="Insights">
                        <i class="bi bi-eye-fill"></i>
                    </button>
                    <MonetizationIconButton OnClicked="@(  ()=> OnMonetizationIconClicked())">
                    </MonetizationIconButton>
                    <button type="button" class="btn btn-info rounded-circle"
                            @onclick="@(  ()=> OnVideoDescriptionClicked())" data-bs-toggle="tooltip" data-bs-placement="top" title="Description">
                        <i class="bi bi-card-text"></i>
                    </button>
                    @if (VideoModel.Price > 0)
                    {
                        <button type="button" class="btn btn-info rounded-circle" data-bs-toggle="tooltip" data-bs-placement="top" title="Price">
                            <i class="bi bi-cart-plus-fill"></i>
                        </button>
                    }
                    @if (VideoModel.AvailableJobs > 0)
                    {
                        <button type="button" class="btn btn-info rounded-circle" data-bs-toggle="tooltip" data-bs-placement="top"
                                title="@( $"You could earn ${VideoModel.CombinedBudget.ToString("0.##")} from {VideoModel.AvailableJobs} Available Job(s)")">
                            <i class="bi bi-briefcase-fill"></i>
                        </button>
                    }
                    @if (ShowDetailsLink)
                    {
                        <button type="button" class="btn btn-info rounded-circle" data-bs-toggle="tooltip"
                                data-bs-placement="top"
                                title="Watch Video"
                                @onclick="ViewDetails">
                            <i class="bi bi-display-fill"></i>
                        </button>
                    }
                    @if (ShowTwitterShareButton)
                    {
                        <div style="vertical-align:bottom; display:inline;">
                            <TwitterShareButton Text="@this.VideoModel.Name" Via="FTube2021"
                                                HashTags="FairPlayTube,OpeSource,GitHub"
                                                DisableClientScriptAutoInjection="true" Size="Large"></TwitterShareButton>
                        </div>
                    }
                    @if (AllowDelete && VideoModel.VideoIndexStatus == Common.Global.Enums.VideoIndexStatus.Processed)
                    {
                        <button type="button" class="btn btn-info rounded-circle" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete"
                                @onclick="OnDeleteVideoClicked">
                            <i class="bi bi-x-circle-fill"></i>
                        </button>
                    }
                </div>
            </CardHeader>
            <CardBody>
                <div class="embed-responsive embed-responsive-1by1">
                    @if (!VideoModel.ShowPlayerWidget || VideoModel.Price > 0)
                    {
                        @if (VideoModel.Price > 0)
                        {
                            <img class="img-thumbnail" src="@VideoModel.ThumbnailUrl" style="width:100%;" />
                        }
                        else
                        {
                            <img class="img-thumbnail" src="@VideoModel.ThumbnailUrl"
                                 style="cursor:pointer; width:100%;"
                                 @onclick="@( ()=>ShowVideoPlayer() )" />
                        }
                    }
                    else
                    {
                        <iframe class="embed-responsive-item video-indexer-widget" style="width:100%;"
                                src="@VideoModel.PublicPlayerUrl"
                                frameborder="0"
                                allowfullscreen></iframe>
                    }
                </div>
            </CardBody>
            <CardFooter>
                <ul class="list-group">
                    <li><strong>Name: </strong>@VideoModel.Name</li>
                    <li><strong>Publisher: </strong>@VideoModel.Publisher</li>
                    <li><strong>Price: </strong>@( $"{Constants.CurrencySymbols.Dollars}{VideoModel.Price}")</li>
                    <li><strong>Details:</strong>@VideoModel.Description</li>
                </ul>
            </CardFooter>
        </FairPlayTube.Components.Bootstrap.Card>
    </article>
}

@if (this.ShowInsights)
{
    <div class="modal" tabindex="-1" role="dialog" style="display:block;">
        <div class="modal-dialog modal-fullscreen" style="max-height:none; max-width:none;">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">@VideoModel.Name</h5>
                    <button type="button" data-bs-dismiss="modal" aria-label="Close" @onclick="HideInsights">
                        <i class="bi bi-x-circle-fill"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row row-cols-1 row-cols-md-2">
                        <div class="col">
                            <FairPlayTube.Components.Bootstrap.Card Width="100%">
                                <CardBody>
                                    <div class="embed-responsive embed-responsive-1by1">
                                        <iframe class="embed-responsive-item video-indexer-widget" style="width:100%; height:350px;"
                                                src="@VideoModel.PublicPlayerUrl"
                                                frameborder="0"
                                                allowfullscreen></iframe>
                                    </div>
                                </CardBody>
                                <CardFooter>
                                    @VideoModel.Name
                                </CardFooter>
                            </FairPlayTube.Components.Bootstrap.Card>
                        </div>
                        <div class="col">
                            <FairPlayTube.Components.Bootstrap.Card Width="100%">
                                <CardBody>
                                    <div class="embed-responsive embed-responsive-1by1">
                                        <iframe class="embed-responsive-item" style="width:100%; height:350px;"
                                                src="@VideoInsightsUrl"
                                                frameborder="0"
                                                allowfullscreen></iframe>
                                    </div>
                                </CardBody>
                                <CardFooter>
                                    @VideoModel.Name
                                </CardFooter>
                            </FairPlayTube.Components.Bootstrap.Card>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" @onclick="HideInsights">Close</button>
                </div>
            </div>
        </div>
    </div>
}

@if (this.ShowMonetizationLinks)
{
    <div class="modal" tabindex="-1" role="dialog" style="display:block;">
        <div class="modal-dialog modal-fullscreen" style="max-height:none; max-width:none;">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">@VideoModel.Name</h5>
                    <button type="button" data-bs-dismiss="modal" aria-label="Close" @onclick="HideMonetizationModal">
                        <i class="bi bi-x-circle-fill"></i>
                    </button>
                </div>
                <div class="modal-body">
                    @if (
this.VideoModel.UserGlobalMonetization != null &&
this.VideoModel.UserGlobalMonetization.MonetizationItems.Count > 0)
                    {
                        <ul>
                            @foreach (var singleMonetizationItem in this.VideoModel.UserGlobalMonetization.MonetizationItems)
                            {
                                <li>
                                    <a href="@singleMonetizationItem.MonetizationUrl" target="_blank">@singleMonetizationItem.MonetizationUrl</a>
                                </li>
                            }
                        </ul>
                    }
                    else
                    {
                        <strong>Video owner does not have global monetization items configured</strong>
                    }
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" @onclick="HideMonetizationModal">Close</button>
                </div>
            </div>
        </div>
    </div>
}

@if (this.ShowVideoDescription)
{
    <div class="modal" tabindex="-1" role="dialog" style="display:block;">
        <div class="modal-dialog modal-fullscreen" style="max-height:none; max-width:none;">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">@VideoModel.Name</h5>
                    <button type="button" data-bs-dismiss="modal" aria-label="Close" @onclick="HideVideoDescriptionModal">
                        <i class="bi bi-x-circle-fill"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="row-cols-2">@VideoModel.Description</div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" @onclick="HideVideoDescriptionModal">Close</button>
                </div>
            </div>
        </div>
    </div>
}

@if (this.ShowDeleteConfirm)
{
    <div class="modal" tabindex="-1" role="dialog" style="display:block;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">@VideoModel.Name</h5>
                    <button type="button" data-bs-dismiss="modal" aria-label="Close" @onclick="OnDeleteVideoCanceled">
                        <i class="bi bi-x-circle-fill"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete the selected video</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" @onclick="OnDeleteVideoCanceled">No</button>
                    <button type="button" class="btn btn-primary" @onclick="OnDeleteVideoConfirmedAsync">Yes</button>
                </div>
            </div>
        </div>
    </div>
}