@if (this.VideoModel != null)
{
    <article>
        @if (!ShowDisplayAd)
        {
            <FairPlayTube.Components.Bootstrap.Card Width="100%">
                <CardHeader>
                    <div>
                        <strong>@Localizer[VideoDurationTextKey]: </strong>@VideoModel.VideoDurationFormatted
                    </div>
                    <div>
                        <button type="button" class="btn btn-info rounded-circle"
                                @onclick="@( async () => await SelectVideo())" 
                                data-bs-toggle="tooltip" data-bs-placement="top" 
                                title="@Localizer[InsightsTextKey]">
                            <i class="bi bi-eye-fill"></i>
                        </button>
                        <MonetizationIconButton OnClicked="@(  () => OnMonetizationIconClicked())">
                        </MonetizationIconButton>
                        <button type="button" class="btn btn-info rounded-circle"
                                @onclick="@(  () => OnVideoDescriptionClicked())" 
                                data-bs-toggle="tooltip" data-bs-placement="top" 
                                title="@Localizer[VideoDescriptionTitleKey]">
                            <i class="bi bi-card-text"></i>
                        </button>
                        @if (VideoModel.Price > 0 && !VideoModel.IsBought)
                        {
                            <button type="button" class="btn btn-info rounded-circle" 
                                    data-bs-toggle="tooltip"
                                    data-bs-placement="top" 
                                    title="@Localizer[BuyVideoAccessTextKey]"
                                    @onclick="OnBuyVideoAccessClicked">
                                <i class="bi bi-cart-plus-fill"></i>
                            </button>
                        }
                        @if (VideoModel.AvailableJobs > 0)
                        {
                            <button type="button" class="btn btn-info rounded-circle" data-bs-toggle="tooltip" data-bs-placement="top"
                                    title="@( $"{Localizer[YouCouldEarnTextKey]} ${VideoModel.CombinedBudget.ToString("0.##")} " +
                                              $"{Localizer[FromTextKey]} {VideoModel.AvailableJobs} " +
                                              $"" +
                                              $"{Localizer[AvailableJobsTextKey]}")">
                                <i class="bi bi-briefcase-fill"></i>
                            </button>
                        }
                        @if (ShowYouTubeVideosLink)
                        {
                            <button type="button" class="btn btn-info rounded-circle" data-bs-toggle="tooltip"
                                    data-bs-placement="top"
                                    title="@Localizer[WatchUserYouTubeVideosTextKey]"
                                    @onclick="OnShowYouTubeLatestVideosClicked">
                                <i class="bi bi-youtube"></i>
                            </button>
                        }
                        @if (ShowDetailsLink)
                        {
                            <button type="button" class="btn btn-info rounded-circle" data-bs-toggle="tooltip"
                                    data-bs-placement="top"
                                    title="@Localizer[WatchUserYouTubeVideosTextKey]"
                                    @onclick="ViewDetails">
                                <i class="bi bi-display-fill"></i>
                            </button>
                        }
                        @if (ShowTwitterShareButton)
                        {
                            <div style="display:inline;">
                                <FaceBookLikeButton Url="@this.NavigationManager.Uri"></FaceBookLikeButton>
                            </div>
                            <div style="vertical-align:bottom; display:inline;">
                                <TwitterShareButton Text="@this.VideoModel.Name" Via="FTube2021"
                                                    HashTags="FairPlayTube,OpeSource,GitHub"
                                                    DisableClientScriptAutoInjection="true" Size="Large"></TwitterShareButton>
                            </div>
                        }
                        @if (AllowDelete && VideoModel.VideoIndexStatus == Common.Global.Enums.VideoIndexStatus.Processed)
                        {
                            <button type="button" class="btn btn-info rounded-circle" 
                                    data-bs-toggle="tooltip" data-bs-placement="top" 
                                    title="@Localizer[DeleteTextKey]"
                                    @onclick="OnDeleteVideoClicked">
                                <i class="bi bi-x-circle-fill"></i>
                            </button>
                        }
                        @if (AllowDownload)
                        {
                            <button type="button" class="btn btn-info rounded-circle" 
                                    data-bs-toggle="tooltip" data-bs-placement="top" 
                                    title="@Localizer[DownloadTextKey]"
                                    @onclick="OnDownloadClicked">
                                <i class="bi bi-cloud-download-fill"></i>
                            </button>
                        }

                    </div>
                </CardHeader>
                <CardBody>
                    <div class="embed-responsive embed-responsive-1by1">
                        @if (!VideoModel.ShowPlayerWidget || VideoModel.Price > 0)
                        {
                            @if (VideoModel.Price > 0)
                            {
                                <img class="img-thumbnail" src="@VideoModel.ThumbnailUrl" style="width:100%;" />
                            }
                            else
                            {
                                <i class="bi bi-play-circle" style="cursor:pointer;" @onclick="@( () => ShowVideoPlayer() )"></i>
                                <img class="img-thumbnail" src="@VideoModel.ThumbnailUrl"
                                     style="cursor:pointer; width:100%;"
                                     @onclick="@( () => ShowVideoPlayer() )" />
                            }
                        }
                        else
                        {
                            <iframe class="embed-responsive-item video-indexer-widget" style="width:100%;"
                                    src="@VideoModel.PublicPlayerUrl"
                                    frameborder="0"
                                    allowfullscreen></iframe>
                        }
                    </div>
                </CardBody>
                <CardFooter>
                    <ul class="list-group">
                        <li><strong>@Localizer[VisitsTextKey]: @VideoModel.VisitsCount</strong></li>
                        <li><strong>@Localizer[NameTextKey]: </strong>@VideoModel.Name</li>
                        <li><strong>@Localizer[PublisherTextKey]: </strong>@VideoModel.Publisher</li>
                        <li><strong>@Localizer[PriceTextKey]: </strong>@( $"{Constants.CurrencySymbols.Dollars}{VideoModel.PriceAfterCommission}")</li>
                        <li><strong>@Localizer[DetailsTextKey]:</strong>@VideoModel.Description</li>
                    </ul>
                </CardFooter>
            </FairPlayTube.Components.Bootstrap.Card>
        }
        else
        {
            <div class="col" style="width:80%;">
                <FairPlayTube.Components.Bootstrap.Card Width="100%">
                    <CardHeader>
                        <div>
                            <strong>@Localizer[VideoDurationTextKey]: </strong>@VideoModel.VideoDurationFormatted
                        </div>
                        <div>
                            <button type="button" class="btn btn-info rounded-circle"
                                    @onclick="@( async () => await SelectVideo())" 
                                    data-bs-toggle="tooltip" data-bs-placement="top" 
                                    title="@Localizer[InsightsTextKey]">
                                <i class="bi bi-eye-fill"></i>
                            </button>
                            <MonetizationIconButton OnClicked="@(  () => OnMonetizationIconClicked())">
                            </MonetizationIconButton>
                            <button type="button" class="btn btn-info rounded-circle"
                                    @onclick="@(  () => OnVideoDescriptionClicked())" 
                                    data-bs-toggle="tooltip" data-bs-placement="top" 
                                    title="@Localizer[VideoDescriptionTitleKey]">
                                <i class="bi bi-card-text"></i>
                            </button>
                            @if (VideoModel.Price > 0 && !VideoModel.IsBought)
                            {
                                <button type="button" class="btn btn-info rounded-circle" 
                                        data-bs-toggle="tooltip"
                                        data-bs-placement="top" 
                                        title="@Localizer[BuyVideoAccessTextKey]"
                                        @onclick="OnBuyVideoAccessClicked">
                                    <i class="bi bi-cart-plus-fill"></i>
                                </button>
                            }
                            @if (VideoModel.AvailableJobs > 0)
                            {
                                <button type="button" class="btn btn-info rounded-circle" data-bs-toggle="tooltip" data-bs-placement="top"
                                        title="@( $"{Localizer[YouCouldEarnTextKey]} ${VideoModel.CombinedBudget.ToString("0.##")} " +
                                              $"{Localizer[FromTextKey]} {VideoModel.AvailableJobs} " +
                                              $"" +
                                              $"{Localizer[AvailableJobsTextKey]}")">
                                    <i class="bi bi-briefcase-fill"></i>
                                </button>
                            }
                            @if (ShowYouTubeVideosLink)
                            {
                                <button type="button" class="btn btn-info rounded-circle" data-bs-toggle="tooltip"
                                        data-bs-placement="top"
                                        title="@Localizer[WatchUserYouTubeVideosTextKey]"
                                        @onclick="OnShowYouTubeLatestVideosClicked">
                                    <i class="bi bi-youtube"></i>
                                </button>
                            }
                            @if (ShowDetailsLink)
                            {
                                <button type="button" class="btn btn-info rounded-circle" 
                                        data-bs-toggle="tooltip"
                                        data-bs-placement="top"
                                        title="@Localizer[WtchFairPlayTubeVideoTextKey]"
                                        @onclick="ViewDetails">
                                    <i class="bi bi-display-fill"></i>
                                </button>
                            }
                            @if (ShowTwitterShareButton)
                            {
                                <div style="display:inline;">
                                    <FaceBookLikeButton Url="@this.NavigationManager.Uri"></FaceBookLikeButton>
                                </div>
                                <div style="vertical-align:bottom; display:inline;">
                                    <TwitterShareButton Text="@this.VideoModel.Name" Via="FTube2021"
                                                        HashTags="FairPlayTube,OpeSource,GitHub"
                                                        DisableClientScriptAutoInjection="true" Size="Large"></TwitterShareButton>
                                </div>
                            }
                            @if (AllowDelete && VideoModel.VideoIndexStatus == Common.Global.Enums.VideoIndexStatus.Processed)
                            {
                                <button type="button" class="btn btn-info rounded-circle" data-bs-toggle="tooltip" data-bs-placement="top" 
                                        title="@Localizer[DeleteTextKey]"
                                        @onclick="OnDeleteVideoClicked">
                                    <i class="bi bi-x-circle-fill"></i>
                                </button>
                            }
                            @if (AllowDownload)
                            {
                                <button type="button" class="btn btn-info rounded-circle" data-bs-toggle="tooltip" data-bs-placement="top" 
                                        title="@Localizer[DownloadTextKey]"
                                        @onclick="OnDownloadClicked">
                                    <i class="bi bi-cloud-download-fill"></i>
                                </button>
                            }

                        </div>
                    </CardHeader>
                    <CardBody>
                        <div class="embed-responsive embed-responsive-1by1">
                            @if (!VideoModel.ShowPlayerWidget || VideoModel.Price > 0)
                            {
                                @if (VideoModel.Price > 0)
                                {
                                    <img class="img-thumbnail" src="@VideoModel.ThumbnailUrl" style="width:100%;" />
                                }
                                else
                                {
                                    <i class="bi bi-play-circle" style="cursor:pointer;" @onclick="@( () => ShowVideoPlayer() )"></i>
                                    <img class="img-thumbnail" src="@VideoModel.ThumbnailUrl"
                                         style="cursor:pointer; width:100%;"
                                         @onclick="@( () => ShowVideoPlayer() )" />
                                }
                            }
                            else
                            {
                                <iframe class="embed-responsive-item video-indexer-widget" style="width:100%;"
                                        src="@VideoModel.PublicPlayerUrl"
                                        frameborder="0"
                                        allowfullscreen></iframe>
                            }
                        </div>
                    </CardBody>
                    <CardFooter>
                        <ul class="list-group">
                            <li><strong>@Localizer[NameTextKey]: </strong>@VideoModel.Name</li>
                            <li><strong>@Localizer[PublisherTextKey]: </strong>@VideoModel.Publisher</li>
                            <li><strong>@Localizer[PriceTextKey]: </strong>@( $"{Constants.CurrencySymbols.Dollars}{VideoModel.PriceAfterCommission}")</li>
                            <li><strong>@Localizer[DetailsTextKey]:</strong>@VideoModel.Description</li>
                        </ul>
                    </CardFooter>
                </FairPlayTube.Components.Bootstrap.Card>
            </div>
            <div class="col">
                <FairPlayTube.Components.GoogleAdsense.DisplayResponsiveAd></FairPlayTube.Components.GoogleAdsense.DisplayResponsiveAd>
            </div>
        }
    </article>
}

@if (this.ShowInsights)
{
    <div class="modal" tabindex="-1" role="dialog" style="display:block;">
        <div class="modal-dialog modal-fullscreen" style="max-height:none; max-width:none;">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">@VideoModel.Name</h5>
                    <button type="button" data-bs-dismiss="modal" aria-label="Close" @onclick="HideInsights">
                        <i class="bi bi-x-circle-fill"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row row-cols-1 row-cols-md-2">
                        <div class="col">
                            <FairPlayTube.Components.Bootstrap.Card Width="100%">
                                <CardBody>
                                    <div class="embed-responsive embed-responsive-1by1">
                                        <iframe class="embed-responsive-item video-indexer-widget" style="width:100%; height:350px;"
                                                src="@VideoModel.PublicPlayerUrl"
                                                frameborder="0"
                                                allowfullscreen></iframe>
                                    </div>
                                </CardBody>
                                <CardFooter>
                                    @VideoModel.Name
                                </CardFooter>
                            </FairPlayTube.Components.Bootstrap.Card>
                        </div>
                        <div class="col">
                            <FairPlayTube.Components.Bootstrap.Card Width="100%">
                                <CardBody>
                                    <div class="embed-responsive embed-responsive-1by1">
                                        <iframe class="embed-responsive-item" style="width:100%; height:350px;"
                                                src="@VideoInsightsUrl"
                                                frameborder="0"
                                                allowfullscreen></iframe>
                                    </div>
                                </CardBody>
                                <CardFooter>
                                    @VideoModel.Name
                                </CardFooter>
                            </FairPlayTube.Components.Bootstrap.Card>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" @onclick="HideInsights">@Localizer[CloseTextKey]</button>
                </div>
            </div>
        </div>
    </div>
}

@if (this.ShowMonetizationLinks)
{
    <div class="modal" tabindex="-1" role="dialog" style="display:block;">
        <div class="modal-dialog modal-fullscreen" style="max-height:none; max-width:none;">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">@Localizer[ExternalMonetizationTitleKey]</h5>
                    <button type="button" data-bs-dismiss="modal" aria-label="Close" @onclick="HideMonetizationModal">
                        <i class="bi bi-x-circle-fill"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <p>
                        <strong>@Localizer[SayThanksTextKey]</strong>
                    </p>
                    <p>
                        @Localizer[SourceOfIncomeTextKey]
                    </p>
                    @if (
this.VideoModel.UserGlobalMonetization != null &&
this.VideoModel.UserGlobalMonetization.MonetizationItems.Count > 0)
                    {
                        <ul>
                            @foreach (var singleMonetizationItem in this.VideoModel.UserGlobalMonetization.MonetizationItems)
                            {
                                <li>
                                    <a href="@singleMonetizationItem.MonetizationUrl" target="_blank">@singleMonetizationItem.MonetizationUrl</a>
                                </li>
                            }
                        </ul>
                    }
                    else
                    {
                        <strong>@Localizer[NoGlobalMonetizationTextKey]</strong>
                    }
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" @onclick="HideMonetizationModal">@Localizer[CloseTextKey]</button>
                </div>
            </div>
        </div>
    </div>
}

@if (this.ShowVideoDescription)
{
    <div class="modal" tabindex="-1" role="dialog" style="display:block;">
        <div class="modal-dialog modal-fullscreen" style="max-height:none; max-width:none;">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">@VideoModel.Name</h5>
                    <button type="button" data-bs-dismiss="modal" aria-label="Close" @onclick="HideVideoDescriptionModal">
                        <i class="bi bi-x-circle-fill"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="row-cols-2">@VideoModel.Description</div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" @onclick="HideVideoDescriptionModal">@Localizer[CloseTextKey]</button>
                </div>
            </div>
        </div>
    </div>
}

@if (this.ShowDeleteConfirm)
{
    <div class="modal" tabindex="-1" role="dialog" style="display:block;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">@VideoModel.Name</h5>
                    <button type="button" data-bs-dismiss="modal" aria-label="Close" @onclick="OnDeleteVideoCanceled">
                        <i class="bi bi-x-circle-fill"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <p>@Localizer[DeleteVideoConfirmationTextKey]</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" @onclick="OnDeleteVideoCanceled">@Localizer[NoTextKey]</button>
                    <button type="button" class="btn btn-primary" @onclick="OnDeleteVideoConfirmedAsync">@Localizer[YesTextKey]</button>
                </div>
            </div>
        </div>
    </div>
}