<Loading IsLoading="IsLoading"></Loading>

@if (this.VideoModel != null)
{
    <Meta property="og:url" content="@this.NavigationManager.Uri" />
    <Meta property="og:type" content="website" />
    <Meta property="og:title" content="@this.VideoModel.Name" />
    <Meta property="og:image" content="@this.VideoModel.ThumbnailUrl" />
    <Meta property="og:description" content="@this.VideoModel.Description" />
    <Meta property="og:video" content="@this.NavigationManager.Uri" />
    <Meta property="og:video:secure_url" content="@this.NavigationManager.Uri" />
    <Meta property="og:video:type" content="video/mp4" />
    <Meta property="og:video:width" content="300" />
    <Meta property="og:video:height" content="300" />
    <Meta property="twitter:image" content="@this.VideoModel.ThumbnailUrl" />
    <Meta property="twitter:description" content="@this.VideoModel.Description" />

    <article>
        <div class="container">
            <div class="mb-3">
                <h1>
                    @this.VideoModel.Name
                </h1>
            </div>
            <FairPlayTube.Components.Videos.Video AllowEdit="false"
                                                  VideoModel="this.VideoModel"
                                                  ShowDetailsLink="false"
                                                  ShowTwitterShareButton="true"></FairPlayTube.Components.Videos.Video>
        </div>
    </article>
}