<Loading IsLoading="IsLoading"></Loading>

@if (this.VideoModel != null)
{
    <MetaTag TagName="og:url" TagValue="@this.NavigationManager.Uri"></MetaTag>
    <MetaTag TagName="og:type" TagValue="website"></MetaTag>
    <MetaTag TagName="og:title" TagValue="@this.VideoModel.Name"></MetaTag>
    <MetaTag TagName="og:image" TagValue="@this.VideoModel.ThumbnailUrl"></MetaTag>
    <MetaTag TagName="og:description" TagValue="@this.VideoModel.Description"></MetaTag>
    <MetaTag TagName="og:video" TagValue="@this.NavigationManager.Uri"></MetaTag>
    <MetaTag TagName="og:video:url" TagValue="@this.NavigationManager.Uri"></MetaTag>
    <MetaTag TagName="og:video:secure_url" TagValue="@this.NavigationManager.Uri"></MetaTag>
    <MetaTag TagName="og:video:type" TagValue="video/mp4"></MetaTag>
    <MetaTag TagName="og:video:width" TagValue="300"></MetaTag>
    <MetaTag TagName="og:video:height" TagValue="300"></MetaTag>
    <MetaTag TagName="og:video:image" TagValue="@this.VideoModel.ThumbnailUrl"></MetaTag>

    <div class="container">
        <div class="mb-3">
            <h1>
                @this.VideoModel.Name
            </h1>
        </div>
        <FairPlayTube.Components.Videos.Video AllowEdit="false" VideoModel="this.VideoModel"></FairPlayTube.Components.Videos.Video>
    </div>
}