@using FairPlayTube.Common.Helpers
<HeadContent>
    <meta property="og:url" content="@this.NavigationManager.Uri" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="@VideoThumbnailUrl" />
    <meta property="og:video" content="@this.NavigationManager.Uri" />
    <meta property="og:video:secure_url" content="@this.NavigationManager.Uri" />
    <meta property="og:video:type" content="video/mp4" />
    <meta property="og:video:width" content="300" />
    <meta property="og:video:height" content="300" />
    <meta property="twitter:image" content="@VideoThumbnailUrl" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@("@FTube2021")" />
    <meta name="twitter:creator" content="@("@efonsecabcr")" />
    <meta name="twitter:image" content="@VideoThumbnailUrl" />
    @if (this.VideoModel != null)
    {
        <meta name="twitter:description" content="@this.VideoModel.Description" />
        <meta name="twitter:title" content="@this.VideoModel.Name" />
        <meta property="og:title" content="@this.VideoModel.Name" />
        <meta property="og:description" content="@this.VideoModel.Description" />
        <meta property="twitter:description" content="@this.VideoModel.Description" />
    }
</HeadContent>

<Loading IsLoading="IsLoading"></Loading>

@if (this.VideoModel != null)
{
    <article>
        <div class="container">
            <div class="mb-3">
                <h1>
                    @this.VideoModel.Name
                </h1>
            </div>
            <FairPlayTube.Components.Videos.Video AllowEdit="false"
                                              VideoModel="this.VideoModel"
                                              ShowDetailsLink="false"
                                              ShowTwitterShareButton="true" ShowDisplayAd="true"
                                              ShowYouTubeVideosLink="@(VideoModel.YouTubeChannels > 0)"
                                              OnShowYouTubeLatestVideos="OnShowYouTubeLatestVideos"
                                              ShowAddVideoJobButton="ShowAddVideoJobButton"
                                              ShowAvailableJobsButton="ShowAvailableJobsButton"
                                              OpenVideoInNewWindow="false"
                                              ></FairPlayTube.Components.Videos.Video>

            <AuthorizeView>
                <Authorized Context="authContext">
                    <EditForm Model="@NewCommentModel" OnValidSubmit="OnValidCommentSubmit">
                        <div class="mb-3">
                            <DataAnnotationsValidator></DataAnnotationsValidator>
                            <ValidationSummary></ValidationSummary>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">@Localizer[CommentTitleTextKey]</label>
                            <InputText class="form-control" @bind-Value="@NewCommentModel.Comment"></InputText>
                        </div>
                        <button type="submit" class="btn btn-primary">@Localizer[SubmitButtonTextKey]</button>
                    </EditForm>
                </Authorized>
                <NotAuthorized>
                    @Localizer[OnlyLoggedInCanAddCommentsTextKey]
                </NotAuthorized>
            </AuthorizeView>
            <div class="mb-3">
                @if (this.VideoComments != null)
                {
                    <h2>@Localizer[CommentsTitleTextKey]</h2>
                    @foreach (var singleComment in this.VideoComments)
                    {
                        <div class="row">
                            <div class="col">
                                <Card Width="100%">
                                    <CardHeader>
                                        <strong>@singleComment.RowCreationUser</strong> - @singleComment.RowCreationDateTime - @singleComment.ApplicationUserFollowersCount Follower(s)
                                    </CardHeader>
                                    <CardBody>
                                        @((MarkupString)HtmlHelper.FormatHtmlText(singleComment.Comment))
                                    </CardBody>
                                </Card>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </article>
}
@if (ShowAdModal)
{
    <CustomModal CloseButtonText="Close" OkButtonText="Ok" ShowFooter="false">
        <Title>@Localizer[FundedByAdsTitleTextKey]</Title>
        <Content>
            <Loading IsLoading="true"></Loading>
            @Localizer[FundedByAdsBodyTextKey]
            <FairPlayTube.Components.GoogleAdsense.DisplayResponsiveAd></FairPlayTube.Components.GoogleAdsense.DisplayResponsiveAd>
        </Content>
    </CustomModal>
}